{
	"plugins": ["prettier-plugin-organize-attributes", "prettier-plugin-tailwindcss"],
	"attributeGroups": ["type", "is", "v-for", "key", "v-if", "v-model", ":icon", "icon", ":class", "class", ":style", "style", "$DEFAULT", "@click"],
	"tailwindPreserveWhitespace": true,
	"tailwindPreserveDuplicates": false,
	"semi": true,
	"singleQuote": false,
	"useTabs": false,
	"tabWidth": 2,
	"printWidth": 240,
	"bracketSpacing": true
}
