@import "tailwindcss";

@import "../../../node_modules/veloce-vue/styles/index.css";
@source "../../../node_modules/veloce-vue/components";

@theme {
  /* fonts */
  --font-Inter: "Inter";
  --font-Inter: "Lexend";

  /* breakpoints */

  --breakpoint-coxs: 375px;
  --breakpoint-xs: 425px;
  --breakpoint-cosm: 500px;
  --breakpoint-sm: 576px;
  --breakpoint-comd: 650px;
  --breakpoint-md: 768px;
  --breakpoint-colg: 850px;
  --breakpoint-lg: 992px;
  --breakpoint-coxl: 1050px;
  --breakpoint-xl: 1200px;
  --breakpoint-co2xl: 1320px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1660px;
  --breakpoint-4xl: 1720px;
  --breakpoint-5xl: 1800px;
}

@layer utilities {
  .container {
    @apply mx-auto w-[85%] max-w-[1440px];
  }
}

@layer base {
  * {
    @apply font-Inter border-border;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary/75 cursor-pointer;
  }
}
